
:root {
    --dark-green:#3a4d40;
    --green:#57a390;
    --light-green:#cde0c9;
    --white:#ebe3db;
    --brown:#230902;

}

body {
    background-color: var(--dark-green);
    color: var(--brown);
    text-align: center;
    justify-items: center;
    height: 100vh;
    
}

h1 {
    margin-bottom: 5rem;
}

.wrapper {
    width: 70%;
    background-color: var(--white);
    padding: 4rem;
    border-radius: 20px;
    justify-items: center;

}

.luck {
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    background: var(--green);
    padding: 0.5rem;
    border-radius: 25px;
    width: 40%;
}

.luck:hover {
    background: white;
    color: var(--green);
}

.date {
    font-weight: bold;
}